<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Inicio_Sesion</servlet-name>
        <servlet-class>Servlets.Inicio_Sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarFormulario</servlet-name>
        <servlet-class>Servlets.GuardarFormulario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro_Personal</servlet-name>
        <servlet-class>Servlets.Registro_Personal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar_Cita</servlet-name>
        <servlet-class>Servlets.Registrar_Cita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mostrar_formulario_Paciente</servlet-name>
        <servlet-class>Servlets.Mostrar_formulario_Paciente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio_Sesion</servlet-name>
        <url-pattern>/Inicio_Sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarFormulario</servlet-name>
        <url-pattern>/GuardarFormulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro_Personal</servlet-name>
        <url-pattern>/Registro_Personal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar_Cita</servlet-name>
        <url-pattern>/Registrar_Cita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mostrar_formulario_Paciente</servlet-name>
        <url-pattern>/Mostrar_formulario_Paciente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
